/**********************************

***            Import           ***

**********************************/

/* font */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/**********************************

***       General Setting       ***

**********************************/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
embed,
object {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-variant: normal;
  text-transform: none;
}
/* --- HTML5 display-role reset for older browsers --------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  /* height: auto !important; */
  height: 100%;
  /* min-height: 100%; */
  /* max-height: 100%; */
}
/* --- typography --------------------- */
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
  color: #000000;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* paragraphs */
p {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: #7a7c82;
  font-weight: 500;
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0px;
}
span {
  font-size: 14px;
  line-height: 1.428;
  font-family: 'Poppins', sans-serif;
}
/*strong*/
strong {
  font-size: 16px;
  font-weight: 700;
}
/* Lists */
ol,
ul {
  list-style: none;
}

/* --- Forms --------------------- */
form {
  outline: none;
}
input,
textarea,
button,
input[type="button"],
.generalBtn {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  font-size: 12px;
  color: #5d5d5d;
  font-family: "Open Sans", "Helvetica", "Tahoma", "Arial", sans-serif;
}
input:focus,
textarea:focus {
  color: #333;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
  border: 1px solid #e0e0e0;
  padding: 8px 9px;
  outline: none;
  color: #21242e;
  margin: 0;
  max-width: 100%;
  background: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 2px 2px 2px 2px;
  font-size: 15px;
  font-weight: 700;
}
textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  position: relative;
}
textarea::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
button,
input[type="button"],
input[type="submit"] {
  border: 0px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 13px 20px;
  background-color: #21242e;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 2px 2px 2px 2px;
}
/* buttons */
button,
input[type="button"],
.generalBtn {
  padding: 7px 15px;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  border: none;
  font-family: "Open Sans", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-size: 12px;
}
label {
  color: #919191;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  cursor: pointer;
}
input[type="checkbox"],
.check,
input[type="radio"],
input[type="checkbox"] + label,
.check + label,
input[type="radio"] + label,
.radio + label {
  display: none;
  line-height: 22px;
  margin-bottom: 10px;
}
input[type="checkbox"] + label:after,
.check + label:after,
input[type="radio"] + label:after,
.radio + label:after {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  content: "";
  font-family: "FontAwesome";
  color: #21242e;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #cccccc;
  background-color: #f5f6f8;
  text-align: center;
  font-size: 100%;
  z-index: 100;
  margin-right: 10px;
}
input[type="checkbox"]:checked + label:after,
.check:checked + label:after,
input[type="radio"]:checked + label:after,
.radio:checked + label:after {
  content: "\f00c";
}
input[type="radio"] + label:after,
.radio + label:after {
  border-radius: 100px;
}
input[type="radio"]:checked + label,
.radio:checked + label {
  border-radius: 50%;
}
input[type="radio"]:checked + label:after,
.radio:checked + label:after {
  content: "\f111";
}
/* placeholder */
*::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #21242e;
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #21242e;
  opacity: 1;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #21242e;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #21242e;
}
/* --- tables --------------------- */
/* table {
  border-collapse: separate;
  border-spacing: 0;
} */
caption,
th,
td {
  text-align: left;
  font-weight: 400;
}
/* --- images --------------------- */
img {
  max-width: 100%;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
}
/* --- links --------------------- */
a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a,
a:visited {
  outline: 0px;
}
a:hover {
  color: inherit;
}
/* break */
.br {
  display: block;
  height: 30px;
}
/* hr */
hr,
.container hr {
  margin: 0px;
  height: 1px;
  background: #cccccc;
  border: 0px;
}
/* --- clearing --------------------- */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* --- Svg --------------------- */
.svg {
  width: 100%;
  height: 100%;
}

/**********************************

***            Font

**********************************/


    /* Project Css Start */


/**********************************

***         Global Class        ***

**********************************/

.global-heading h1{
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.global-heading h2{
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.global-heading p{
  font-size: 40px;
  max-width: 80%;
  margin: 0 auto;
/*   margin-top: 10px; */
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: #222;
}

/**********************************

***      header section      ***

**********************************/


.header-section{
  height: 100vh;
  background: -o-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/banner.jpg) no-repeat center center;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.4)),to(rgba(0,0,0,.5))), url(../../images/banner.jpg) no-repeat center center;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/banner.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  
}

.heading{
  width: 80%;
  position: absolute; 
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%,-50%); 
      -ms-transform: translate(-50%,-50%); 
          transform: translate(-50%,-50%);  
  text-align: center; 
  color: #fff;
  padding: 0px;
  margin-top: 50px;
  display: block;
} 

.heading h1{
  
  display: inline-block;
  font-size: 45px;
  color: #FFDD00;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-weight: 600;

  -webkit-animation-name: animLeft;

          animation-name: animLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.heading span{
  display: block;
  font-size: 22px;
  text-transform: inherit;
  font-weight: 600;
  padding-bottom: 30px;

  -webkit-animation-name: animRight;

          animation-name: animRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.heading-button{
  display: block;
  padding-bottom: 30px;

  
  -webkit-animation-name: animUp;

  
          animation-name: animUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.heading-button a{
  color: #000 !important;
  display: inline-block !important;
  text-transform: uppercase;
  font-size: 16px;
  background: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
}
.heading-button a:hover{
  color: #444 !important;background: #FFDD00;
}

.angle-down{
  
color: #fff; 
height: 55px;   
width: 40px;   
border: 3px solid #fff;    
display: inline-block;   
line-height: 55px;   
border-radius: 15px;   
background: rgb(0,0,0,.4);   
margin-top: 50px;   
text-decoration: none;


-webkit-animation-name: animUp;


        animation-name: animUp;
-webkit-animation-duration: 2s;
        animation-duration: 2s;
-webkit-animation-delay: .8s;
        animation-delay: .8s;
-webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
}

.angle-down:hover{
color: #7F8D9F !important;
}

.heading i{
  font-size: 15px;

  -webkit-animation: continuosMove 1s infinite  alternate;

          animation: continuosMove 1s infinite  alternate;
}


/**********************************

***           Navbar            ***

**********************************/

.logo1 i{
  color: #fff;
  margin: 0px !important;
  display: block;

  -webkit-animation-name: zoomIn;

          animation-name: zoomIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-section .navbar{
  padding: 0px 15px;

}
.header-section .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.menu-item{
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 15px;
  display: block;
  padding: 15px 0px;
}


.extra-nav-item {
  margin-left: 0px !important;
}

.menu-item:hover{
  color: #FFDD00;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  
}

/* collapse line design */

.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;

  -webkit-transition: all .4s;

  -o-transition: all .4s;

  transition: all .4s;
}

.change .line1{
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      -ms-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2{
  opacity: 0;
}
.change .line3{
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
      -ms-transform: rotate(45deg) translate(-5px,-6px);
          transform: rotate(45deg) translate(-5px,-6px);
}

.black{
  background: rgba(0,0,0,.4);  
}
.blackAgain{
  background: rgba(0,0,0,.4);   
}

/**********************************

***       about-section        ***

**********************************/

.about-section{
  padding: 100px 0px;
  background: #F7F8FC;
}

.about-content{
  padding-right: 100px;
}

.about-content h2{
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0px;
}
.about-content strong{
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  padding: 15px 0px;
}
.about-content p{
  font-size: 16px;
  color: #777;
  text-align: justify;
}

.img-content{
  position: relative;
}
.img-content:before{
  content:'';
  height: 100%;
  width: 100%;
  border: 3px solid gray;
  position: absolute;
  background: #000;
  z-index: 1;
  border-radius: 50%;
  opacity: .1;

}

.img-content img{
  border-radius: 100%;
  filter: drop-shadow(5px 5px  5px gray);
  -webkit-filter: drop-shadow(5px 5px  5px #595761ab);
}

/**********************************

***        service section      ***

**********************************/

.service-section{
  padding: 100px 0px;
  background: #795dca1c;
}

.service{
position: relative;
margin:20px 0px;

}
.service i{
  
position: relative;
  
display: block;
  
padding-bottom: 20px;
  
color: #2196F3;
  
margin-top: 10px;
}
.service h3{
  
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #040404;
}
.service p{
  
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #848484;
  margin-top: 10px;

}

.box-shadow:hover{
  
  -webkit-box-shadow:15px 15px 10px -5px rgba(0, 0, 0,0.4);
  
          box-shadow:15px 15px 10px -5px rgba(0, 0, 0,0.4);
  
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;

}


.weeding{
  position: relative;
  padding: 20px;
  border: 1px solid #2196F3;

}

.weeding:hover{
  
  background-image: url(../../images/service1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid rgb(0, 0, 0,.4);


}


.weeding:before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: #000;
  z-index: 0;
}

.weeding:hover:before{
  opacity: 0.4;
 
}


.commercial{
  position: relative;
  padding: 20px;
  border: 1px solid #2196F3;

}

.commercial:hover{
  
  background-image: url(../../images/service2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid rgb(0, 0, 0,.4);

}

.service:hover h3, .service:hover i,.service:hover p{
  color: #FFDD00;
}

.commercial:before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: #000;
  z-index: 0;
}

.commercial:hover:before{
  opacity: 0.4;
}


.event{
  position: relative;
  padding: 20px;
  border: 1px solid #2196F3;

}

.event:hover{
  
  background-image: url(../../images/service3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid rgb(0, 0, 0,.4);


}


.event:before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: #000;
  z-index: 0;
}

.event:hover:before{
  opacity: 0.4;  
}



/**********************************

***     Quote section       ***

**********************************/
.quote-section{
  overflow: -moz-hidden-unscrollable;
}
.parallax {
  position: relative;
  /* The image used */
  background: -o-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/bak.jpg) no-repeat center center;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.4)),to(rgba(0,0,0,.5))), url(../../images/bak.jpg) no-repeat center center;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/bak.jpg) no-repeat center center;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  /* Full height */
  height: 400px;
}


.quote-img-content{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: #fff;
  z-index: 4;
  font-size: 30px;
}
.quote-img-content span{
  display: block;
  font-size: 20px;
  margin-top: 15px;
}
.quote-img-content p{
  font-size: 30px;
}


/**********************************

***    portfolio-1 section      ***

**********************************/

.gallery-heading{
  margin: 20px 0px;
}

.gallery-heading span {
  width: 0;
  height: 0;
  position: relative;
  opacity: 1;
  color:  #2196F3;
  display: inline-block;
  font-size: 30px;
  padding-left: 13px;
}
.gallery-heading span:before {
  content:'';
  position: absolute;
  left: 30px;
  top: 12px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid  #2196F3;
  opacity: 1;
  z-index: 0
}

/* gallery1  1 design*/
.extra-gallery1 span:before{
  left: 23px;
}

.portfolio-section{
  padding: 100px 0px;
  background: #795dca1c;
}

.gallery-heading h2{
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
}

.gallery1-img{
  margin-top: 30px;
}

.gallery1-img img{
  
  -ms-transform: scale(1);
  
      transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);

}
.gallery1-img:hover{

  -ms-transform: scale(0.9);

      transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);

  transition: all 0.4s ease-in;
  -webkit-transition:all 0.4s ease-in;
  -moz-transition:all 0.4s ease-in;
  -o-transition:  all 0.4s ease-in;
      
}

.gallery1-img a{
  text-decoration: none;
  display: block;
  position: relative;

}

.gallery1-img a:before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; 
  background: #2196f340;
  z-index: 33;
  opacity: 0;
}

.gallery1-img:hover a:before{
  
  opacity: 1;
}

.gallery1-img i{
  position: absolute;
  display: block;
  color: transparent;
  font-size: 40px;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0,0) rotate(720deg);
      -ms-transform: translate(0,0) rotate(720deg);
          transform: translate(0,0) rotate(720deg);
  z-index: 50;
}

.gallery1-img:hover i{

  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,50%) rotate(45deg);
      -ms-transform: translate(-50%,50%) rotate(45deg);
          transform: translate(-50%,50%) rotate(45deg);

  color: rgba(255, 252, 74, 0.97); 
  transition: all 0.4s ease-in;
  -webkit-transition:all 0.4s ease-in;
  -moz-transition:all 0.4s ease-in;
  -o-transition:  all 0.4s ease-in;
}



/**********************************

***     portfolio-section-2       ***

**********************************/



.portfolio-section-2{
  overflow: hidden;
  background: #795dca1c;
  padding-bottom: 100px;
}



.gallery2-img{

  margin-top: 30px;
  overflow: hidden;
}

.gallery2-img img{
  
  -ms-transform: scale(1);
  
      transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  
}





.gallery2-img:hover img{

  -ms-transform: scale(1.2) !important;

      transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;

  transition: all 0.4s ease-in;
  -webkit-transition:all 0.4s ease-in;
  -moz-transition:all 0.4s ease-in;
  -o-transition:  all 0.4s ease-in;
  -webkit-box-shadow:0px 15px 20px -12px rgba(0, 0, 0,0.8);
          box-shadow:0px 15px 20px -12px rgba(0, 0, 0,0.8);
      
}


.gallery2-img a{
  text-decoration: none;
  display: block;
  position: relative;

}

.gallery2-img a::before{
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2196f340;
  z-index: 33;
  opacity: 0;
}

.gallery2-img:hover a:before{
  
  opacity: 1;
}



.gallery2-img i{
  position: absolute;
  display: block;
  color: transparent;
  font-size: 40px;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(0,0) rotate(720deg);
      -ms-transform: translate(0,0) rotate(720deg);
          transform: translate(0,0) rotate(720deg);
  z-index: 50;
}

.gallery2-img:hover i{

  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%,50%) rotate(45deg);
      -ms-transform: translate(50%,50%) rotate(45deg);
          transform: translate(50%,50%) rotate(45deg);

  color: rgba(255, 252, 74, 0.97); 
  transition: all 0.4s ease-in;
  -webkit-transition:all 0.4s ease-in;
  -moz-transition:all 0.4s ease-in;
  -o-transition:  all 0.4s ease-in;
}

/**********************************

***     counter section       ***

**********************************/

/* counter parllax */

.counter-parallax {
  /* The image used */
  background: -o-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/q.jpg) no-repeat center center;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.4)),to(rgba(0,0,0,.5))), url(../../images/q.jpg) no-repeat center center;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(../../images/q.jpg) no-repeat center center;
  
  height: 400px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  /* Full height */
}


/* counter section */

.count-section{
  overflow: -moz-hidden-unscrollable;
}

.count{
text-align: center;
vertical-align: middle;
}
.count span{  
display: block;  
font-size: 22px;  
font-weight: 600; 
text-transform: uppercase;
color: #fff;
text-align: inherit;
}
.count strong{
  font-size: 50px;
  color: #FFDD00;
  font-weight: 700;
}


/**********************************

***        contact section      ***

**********************************/

.contact-section{
  padding: 100px 0px;
  background: #795dca1c;
}

.contact-section h5{
font-size: 22px;
text-transform: uppercase;
margin-bottom: 30px;
}

.contact-section .form-control{  
-webkit-box-shadow: 0 0 0 0;  
        box-shadow: 0 0 0 0;  
-webkit-transition: none;  
-o-transition: none;  
transition: none;  
padding: 22px 20px;  
border-radius: 0rem !important;  
background: white;  
border: 1px solid #f0f0f0;
}

.contact-info p{
  padding: 30px;
  background: white;
  font-size: 15px;
  font-weight: 400;
  color: gray;
}
.contact-info i{
  margin-right: 5px;
  color: #FFDD00;
}
.contact-info a{
  text-decoration: none;
  color: gray;
}

.contact-btn{
display: block;
background: #FFDD00;
padding: 5px 10px; 
border: 5px solid #FFDD00; 
margin-top: 15px;
color: #495057;
font-size: 14px;
}



/**********************************

***      instagram section       ***

**********************************/

.instagram-section{
  background: #F7F8FC;
  padding-top: 100px;
}
.instagram-section h4{
  margin-bottom: 60px;
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
}

/**********************************

***      footer section       ***

**********************************/
  
.section-footer{

  background: #323232;  
  color: #e6e6e6;   
  padding: 100px 0px;
  }
  
  .widget h4{
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.952);
      margin-bottom: 30px;
      text-transform: uppercase;
  }
  .widget p{
      font-size: 14px;
      color: #e2e2e2;
  }
  .widget span{
      display: block;
      color: #e2e2e2;
  }
  .widget ul{
      display: block;
      padding: 0px;
  }
  .widget li{
      list-style: none;
      margin-bottom: 10px;
      color: #e6e6e6;
  }
  .widget a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px;
  }
  .widget i{
      color: #FFDD00;
      margin-right: 10px;
      display: inline-block;
      font-size: 20px;
  }
  
  .widget li a:hover{ 
      color: #FFDD00;
  }
  
  .widget li a:hover i{
      color: #6fbbf7;
  }
  
  .footer-social li{
      list-style: none;
      display: inline-block;
      height: 35px;
      width: 35px;
      line-height: 35px;
      margin-right: 10px;
      margin-top: 10px;
      margin-left: -10px;
  }
  .facebook{
      
  border-radius: 0px 10px 0px 0px;
  }
  .twitter{
      
  border-radius: 10px 0px 10px 0px;
  }
  .google-plus{
      
  border-radius: 50px;
  }
  
  .linked-in{
      
      border-radius: 10px 10px 21px;
  }
  
  .footer-social a{
      font-size: 20px;
      display: block;
      text-align: center;
  }
  .footer-social a:hover{
      background: #2196F3;
  }
  .footer-social a:hover i{
      color: #FFDD00 !important;
  }
  
  .footer-social i{
      margin: 0px;
  }
  

/**********************************

***         Extra Design        ***

**********************************/

 
.contact-section input::-webkit-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}

 
.contact-section input::-moz-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}

 
.contact-section input:-ms-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}

 
.contact-section input::-ms-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}

 
.contact-section input::placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}
.contact-section textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}
.contact-section textarea::-moz-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}
.contact-section textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}
.contact-section textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}
.contact-section textarea::placeholder {
  font-size: 14px;
  color: #c5c5c5 !important;
}

/* 
.loader{
  position: relative;
  display: none;
}
.preload {
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
  -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  z-index: 11000;
}
 */

 #loading{
   position: fixed;
   width: 100%;
   height: 100vh;
   background: #f7f7f7 url(../../images/loading_spinner.gif) no-repeat center;
   z-index: 99999;
 }

/**********************************

***   Slick section      ***

**********************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/**********************************

***         Key Frames        ***

**********************************/

@-webkit-keyframes animLeft{
  0%{
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animLeft{
  0%{
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animRight{
  0%{
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animRight{
  0%{
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@-webkit-keyframes animUp{
  0%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@keyframes animUp{
  0%{
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes continuosMove{
  0%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes continuosMove{
  0%{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn{
  0%{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes zoomIn{
  0%{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

