/**********************************

***            Import           ***

**********************************/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/**********************************

***       General Setting       ***

**********************************/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
embed,
object {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-variant: normal;
  text-transform: none;
}
/* --- HTML5 display-role reset for older browsers --------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  /* height: auto !important; */
  height: 100%;
  /* min-height: 100%; */
  /* max-height: 100%; */
}
/* --- typography --------------------- */
/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
  color: #000000;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* paragraphs */
p {
  font-size: 10px;
  line-height: 22px;
  font-family: 'Poppins', sans-serif;
  color: #7a7c82;
  font-weight: 500;
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0px;
}
span {
  font-size: 14px;
  line-height: 1.428;
  font-family: 'Poppins', sans-serif;
}
/*strong*/
strong {
  font-size: 16px;
  font-weight: 700;
}
/* Lists */
ol,
ul {
  list-style: none;
}

/* --- Forms --------------------- */
form {
  outline: none;
}
input,
textarea,
button,
input[type="button"],
.generalBtn {
  outline: none !important;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  font-size: 12px;
  color: #5d5d5d;
  font-family: "Open Sans", "Helvetica", "Tahoma", "Arial", sans-serif;
}
input:focus,
textarea:focus {
  color: #333;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
  border: 1px solid #e0e0e0;
  padding: 8px 9px;
  outline: none;
  color: #21242e;
  margin: 0;
  max-width: 100%;
  background: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  font-size: 15px;
  font-weight: 700;
}
textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  position: relative;
}
textarea::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
button,
input[type="button"],
input[type="submit"] {
  border: 0px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 13px 20px;
  background-color: #21242e;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
/* buttons */
button,
input[type="button"],
.generalBtn {
  padding: 7px 15px;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  border: none;
  font-family: "Open Sans", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-size: 12px;
}
label {
  color: #919191;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  cursor: pointer;
}
input[type="checkbox"],
.check,
input[type="radio"],
input[type="checkbox"] + label,
.check + label,
input[type="radio"] + label,
.radio + label {
  display: none;
  line-height: 22px;
  margin-bottom: 10px;
}
input[type="checkbox"] + label:after,
.check + label:after,
input[type="radio"] + label:after,
.radio + label:after {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  content: "";
  font-family: "FontAwesome";
  color: #21242e;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #cccccc;
  background-color: #f5f6f8;
  text-align: center;
  font-size: 100%;
  z-index: 100;
  margin-right: 10px;
}
input[type="checkbox"]:checked + label:after,
.check:checked + label:after,
input[type="radio"]:checked + label:after,
.radio:checked + label:after {
  content: "\f00c";
}
input[type="radio"] + label:after,
.radio + label:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
}
input[type="radio"]:checked + label,
.radio:checked + label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}
input[type="radio"]:checked + label:after,
.radio:checked + label:after {
  content: "\f111";
}
/* placeholder */
*::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #21242e;
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #21242e;
  opacity: 1;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #21242e;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #21242e;
}
/* --- tables --------------------- */
/* table {
  border-collapse: separate;
  border-spacing: 0;
} */
caption,
th,
td {
  text-align: left;
  font-weight: 400;
}
/* --- images --------------------- */
img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* --- links --------------------- */
a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a,
a:visited {
  outline: 0px;
}
a:hover {
  color: inherit;
}
/* break */
.br {
  display: block;
  height: 30px;
}
/* hr */
hr,
.container hr {
  margin: 0px;
  height: 1px;
  background: #cccccc;
  border: 0px;
}
/* --- clearing --------------------- */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* --- Svg --------------------- */
.svg {
  width: 100%;
  height: 100%;
}

/**********************************

***            Font

**********************************/


    /* Project Css Start */


/**********************************

***         Global Class        ***

**********************************/

/**********************************

***      header section      ***

**********************************/

.header-section{
  height: 100vh;
  /* background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)) ,url(../../images/banner.jpg) no-repeat center center; */
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)) ,url(../../images/banner.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  position: relative;
}

.heading{
  position: absolute;
  width: 80%;   
  top: 50%;
  left: 50%; 
  transform: translate(-50%,-50%);  
  text-align: center; 
  color: #fff;
  padding: 0px;
  margin-top: 50px;
} 

.heading h1{
  font-size: 45px;
  color: #FFDD00;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-weight: 600;

  animation-name: animLeft;
  animation-duration: 2s;
}
.heading span{
  display: block;
  font-size: 22px;
  text-transform: inherit;
  font-weight: 600;
  padding-bottom: 30px;

  animation-name: animRight;
  animation-duration: 2s;
}
.heading-button{
  display: block;
  padding-bottom: 30px;

  
  animation-name: animUp;
  animation-duration: 2s;
  animation-delay: .4s;
  animation-fill-mode: backwards;
}
.heading-button a{
  color: #000 !important;
  display: inline-block !important;
  text-transform: uppercase;
  font-size: 16px;
  background: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 600;
}
.heading-button a:hover{
  color: #444 !important;background: #FFDD00;
}

.angle-down{
  
color: #fff; 
height: 55px;   
width: 40px;   
border: 3px solid #fff;    
display: inline-block;   
line-height: 55px;   
border-radius: 15px;   
background: rgb(0,0,0,.4);   
margin-top: 50px;   
text-decoration: none;


animation-name: animUp;
animation-duration: 2s;
animation-delay: .8s;
animation-fill-mode: backwards;
}

.angle-down:hover{
color: #7F8D9F !important;
}

.heading i{
  font-size: 15px;

  animation: continuosMove 1s infinite  alternate;
}


/**********************************

***           Navbar            ***

**********************************/
.header-content, nav{
  z-index: 10000;
}
.logo i{
  color: #fff;
  margin: 2px;
  display: block;

  animation-name: zoomIn;
  animation-duration: 2s;
}

.header-section .navbar{
  padding: 0px 15px;

}
.header-section .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.menu-item{
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 15px;
  display: block;
  padding: 15px 0px;
}


.extra-nav-item {
  margin-left: 0px !important;
}

.menu-item:hover{
  color: #FFDD00;
  transition: color .5s;
  
}

/* collapse line design */

.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;

  transition: all .4s;
}

.change .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2{
  opacity: 0;
}
.change .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.black{
  background: rgb(0,0,0,.4);   
}
.blackAgain{
  background: rgb(0,0,0,.4);   
}

/**********************************

***       Offer-section        ***

**********************************/
.about-section{
  height: 100vh;
  background: #5d5d5d;
}

/**********************************

***        service section      ***

**********************************/


/**********************************

***        blog section      ***

**********************************/


/**********************************

***        contact section      ***

**********************************/


/**********************************

***      footer section       ***

**********************************/


/**********************************

***         Extra Design        ***

**********************************/


/**********************************

***         Key Frames        ***

**********************************/

@keyframes animLeft{
  0%{
    transform: translateX(-80px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animRight{
  0%{
    transform: translateX(80px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes animUp{
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes continuosMove{
  0%{
    transform: translateY(-10px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn{
  0%{
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}


